#include <winver.h>

#define VER_STR2(x) #x
#define VER_STR(x)  VER_STR2(x)
#define MCAPTURE_VERSION_STR \
    VER_STR(VER_MAJOR) "." VER_STR(VER_MINOR) "." VER_STR(VER_PATCH)

#ifndef RT_MANIFEST
#define RT_MANIFEST 24
#endif
#ifndef CREATEPROCESS_MANIFEST_RESOURCE_ID
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#endif

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "mcapture.exe.manifest"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION    VER_MAJOR,VER_MINOR,VER_PATCH,0
    PRODUCTVERSION VER_MAJOR,VER_MINOR,VER_PATCH,0
    FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
    FILEFLAGS      0x0L
    FILEOS         VOS_NT_WINDOWS32
    FILETYPE       VFT_APP
    FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "mcapture"
            VALUE "FileDescription",  "mcapture - screenshot CLI"
            VALUE "FileVersion",      MCAPTURE_VERSION_STR
            VALUE "InternalName",     "mcapture"
            VALUE "LegalCopyright",   "MIT licensed"
            VALUE "OriginalFilename", "mcapture.exe"
            VALUE "ProductName",      "mcapture"
            VALUE "ProductVersion",   MCAPTURE_VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
